# Default values for nacos.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  # mode: quickstart
  # mode: standalone
  mode: cluster

############################ mysql ###########################
# 覆盖子Chart配置要名称与子Chart匹配
mysql:
  # 是否启用内置mysql
  internal: false
  annotations: {}
  resources: {}
  nodeSelector: {}
  affinity: {}
  tolerations: {}
  image:
    pullPolicy: IfNotPresent
    repository: nacos/nacos-mysql
    # nacos 1.2.0暂不支持nacos-mysql 8.0.16
    tag: 5.7
  rootPassword: scott-wong
  database: nacos_devtest
  databasePort: 3306
  user: nacos
  password: nacos
  persistence:
    enabled: true
    # existingClaim:
    claim:
      name: nacos-mysql-data
      accessModes:
        - ReadWriteOnce
      size: 5Gi

############################ mysql ###########################

############################ nacos ###########################
nameOverride: ""
fullnameOverride: ""

replicaCount: 3
image:
  repository: nacos/nacos-server
  tag: 1.3.1
  pullPolicy: IfNotPresent

# TODO health check
health:
  enabled: false

env:
  domainName: cluster.local
  preferhostmode: hostname
  serverPort: 8848
  # mysql service name，注释则不依赖外部数据库采用embedded模式
  # dbHost: nacos-mysql

persistence:
  enabled: true
  classParameters: {}
  data:
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 2Gi
  plugin:
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 100Mi
  log:
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 5Gi

service:
  #type: ClusterIP
  type: NodePort
  port: 8848
  nodePort: 30000
  annotations: {}

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: nacos.example.com
      paths: []

  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  requests:
    cpu: 500m
    memory: 2Gi

annotations: {}
nodeSelector: {}
tolerations: []
affinity: {}
