{{- if ne .Values.global.mode "quickstart" }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: nacos-mysql
  labels:
    app: {{ template "mysql.name" . }}
    chart: {{ template "mysql.chart" . }}
    release: {{ .Release.Name }}
    component: nacos-mysql
  {{- if .Values.annotations }}
  annotations:
    {{ toYaml .Values.annotations | indent 4 }}
  {{- end }}
spec:
  serviceName: nacos-mysql
  replicas: 1
  selector:
    matchLabels:
      component: nacos-mysql
  template:
    metadata:
      labels: {{- include "mysql.labels" . | nindent 8 }}
        component: nacos-mysql
    spec:
      containers:
        - name: nacos-mysql
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: mysql
              containerPort: 3306
              protocol: TCP
          volumeMounts:
          {{- if .Values.persistence.existingClaim }}
          - name: {{ .Values.persistence.existingClaim }}
          {{- else }}
          - name: {{ .Values.persistence.claim.name }}
          {{- end }}
            mountPath: /var/lib/mysql
          env:
          - name: MYSQL_ROOT_PASSWORD
            value: {{ .Values.rootPassword | quote }}
          - name: MYSQL_DATABASE
            value: {{ .Values.database | quote }}
          - name: MYSQL_USER
            value: {{ .Values.user | quote }}
          - name: MYSQL_PASSWORD
            value: {{ .Values.password | quote }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        {{- if not .Values.persistence.enabled }}
        - name: {{ .Values.persistence.claim.name }}
          emptyDir: {}
        {{- else if and .Values.persistence.enabled .Values.persistence.existingClaim }}
        - name: {{ .Values.persistence.existingClaim }}
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingClaim }}
        {{- end }}       
  {{- if and .Values.persistence.enabled (not .Values.persistence.existingClaim ) }}
  volumeClaimTemplates:
    - metadata:
        name: {{ .Values.persistence.claim.name }}
        labels:
          component: nacos-mysql
          release: {{ .Release.Name }}
      spec:
        accessModes:
        {{- range .Values.persistence.claim.accessModes }}
          - {{ . | quote }}
        {{- end }}
        resources:
          requests:
            storage: {{ .Values.persistence.claim.size | quote }}
  {{- end }}
{{- end }}